{% extends "layout.html" %}

{% block title %}
    Warning!
{% endblock %}

{% block main %}
    <h1>Warning!</h1>
    <p><span>You're about to erase all of our records about you.
    Your username, cash, portfolio and transactions history.
    Be sure that this is what you wan't to do since CS50's Finance
    does not hold any responsability regarding the implications of erasing your account.</span></p>

    <form action="/delete" method="post">
        <div class="form-group">
            <button class="btn btn-primary" value="confirmation" name="confirmation" style="background-color: red" type="submit">Erase Account</button>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" value="cancel" name="cancel" style="background-color: green" type="submit">Keep Account</button>
        </div>
    </form>
{% endblock %}